* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
header {
  width: 100vw;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7fa;
}
.heading-name {
  width: 588px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.heading-name a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #18191f;
}
.login {
  width: 182px;
  height: 40px;
}
.login1 {
  width: 77px;
  height: 40px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #f5f7fa;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #4caf4f;
}
.login2 {
  width: 91px;
  height: 40px;
  padding: 10px, 20px, 10px, 20px;
  background-color: #4caf4f;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.home {
  width: 100vw;
  height: 559px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 104px;
  position: relative;
}
.home-text h1 {
  font-size: 64px;
  line-height: 76px;
  color: #4d4d4d;
  margin-bottom: 16px;
}
.home-text h1 span {
  color: #4caf4f;
}
.home-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #717171;
  margin-bottom: 32px;
}
.home-text button {
  width: 128px;
  height: 52px;
  background-color: #4caf4f;
  border-radius: 4px;
  border: none;
  padding: 14px, 32px, 14px, 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.home-dot {
  position: absolute;
  bottom: 16px;
}
.clients {
  width: 100vw;
  height: 190px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.clients h1 {
  text-align: center;
  font-size: 36px;
  color: #18191f;
  margin-bottom: 8px;
}
.clients p {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.clients-images {
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 136px;
}
.clients-images img {
  width: 48px;
  height: 48px;
}
.community {
  width: 100vw;
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}
.community-head h1 {
  font-size: 36px;
  color: #4d4d4d;
}
.community-head p {
  font-size: 16px;
  color: #717171;
  font-weight: 400;
  margin-top: 8px;
}
.community-text {
  width: 100%;
  height: 280px;

  display: flex;
  justify-content: space-evenly;
}
.community-images {
  box-shadow: 0 2px 3px #abbed133;
  width: 299px;
  height: 260px;
  border-radius: 8px;
}
.community-images img {
  margin-top: 24px;
}
.community-images h1 {
  font-size: 28px;
  font-weight: 700;
  color: #4d4d4d;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}
.community-images p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}
.unlock {
  width: 100vw;
  height: 443px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  margin-bottom: 48px;
}
.unlock-text h1 {
  font-size: 36px;
  color: #4d4d4d;
  margin-bottom: 16px;
}
.unlock-text h1 span {
  color: #4caf4f;
}
.unlock-text p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin-bottom: 32px;
}
.unlock-text button {
  width: 128px;
  height: 52px;
  background-color: #4caf4f;
  border-radius: 4px;
  border: none;
  padding: 14px, 32px, 14px, 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.achievements {
  width: 100vw;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  background-color: #f5f7fa;
}
.achievements-title {
  width: 540px;
  height: 120px;
}
.achievements-title h1 {
  font-size: 36px;
  color: #4d4d4d;
  margin-bottom: 8px;
}
.achievements-title h1 span {
  color: #4caf4f;
}
.achievements-title p {
  font-size: 16px;
  font-weight: 400;
  color: #18191f;
}
.achievements-index {
  width: 540px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.achievements-index-row {
  width: 540px;
  height: 60px;
  display: flex;
  gap: 30px;
}
.achievements-index-row-icon {
  width: 255px;
  height: 60px;
  display: flex;
  gap: 16px;
}
.achievements-index-row-price h1 {
  font-size: 28px;
  font-weight: 700;
  color: #4d4d4d;
}
.achievements-index-row-price p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}
.calender {
  width: 100vw;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  margin-bottom: 48px;
  margin-top: 48px;
}
.calender-text h1 {
  font-size: 36px;
  color: #4d4d4d;
  margin-bottom: 16px;
}

.calender-text p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  margin-bottom: 32px;
}
.calender-text button {
  width: 128px;
  height: 52px;
  background-color: #4caf4f;
  border-radius: 4px;
  border: none;
  padding: 14px, 32px, 14px, 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.custom {
  width: 100vw;
  height: 390px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
  margin-bottom: 48px;
}
.custom-text {
  width: 748px;
  height: 324px;
}
.custom-text .custom-text-p1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #717171;
}
.custom-text h1 {
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
  margin-top: 16px;
  margin-bottom: 8px;
}
.custom-text-p2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #89939e;
  margin-bottom: 32px;
}
.custom-text-icon {
  width: 748px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}
.custom-text-icon button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
  gap: 8px;
  border: none;
  background-color: transparent;
}
.community-update {
  width: 100vw;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 95px;
}
.community-update h1 {
  font-size: 36px;
  color: #4d4d4d;
}
.community-update p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  margin-top: 8px;
  margin-bottom: 16px;
}
.community-update-body {
  height: 366px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.community-update-image {
  width: 368px;
  height: 286px;
  position: relative;
}
.community-update-text {
  width: 317px;
  height: 176px;
  background-color: #f5f7fa;
  box-shadow: 0 8px 0.4 #abbed166;
  border-radius: 8px;
  position: absolute;
  bottom: -80px;
  left: 25.5px;
}
.community-update-text p {
  font-size: 20px;
  line-height: 28px;
  color: #717171;
  margin: 16px;
}
.community-update-text button {
  width: 285px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: #4caf4f;
  border: none;
  background-color: transparent;
}
.frame {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.frame h1 {
  font-size: 64px;
  color: #263238;
}
.frame button {
  width: 178px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #4caf4f;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
footer {
  width: 100vw;
  height: 328px;
  background-color: #263238;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.footer-info {
  width: 350px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-info-text p {
  font-size: 14px;
  font-weight: 400;
  color: #f5f7fa;
}
.footer-info-icon {
  width: 176px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.footer-info-icon img {
  width: 32px;
  height: 32px;
}
.footer-link {
  width: 635px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-link-1 {
  width: 160px;
  height: 200px;
}
.footer-link-1 h1 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 24px;
}
.footer-link-1-text {
  width: 255px;
  height: 148px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
.footer-link-1-text p {
  font-size: 14px;
  font-weight: 400;
  color: #f5f7fa;
}
.footer-link-1-text input {
  width: 255px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
  opacity: 20%;
  text-emphasis-color: white;
}

.footer-link-1-text img {
  position: absolute;
  top: 11.75px;
  right: 11.75px;
}
